@import '../../../assets/css/variable';
@import '../../../assets/css/mixin';

.fieldset_box {
  border: none;
  padding: 0;
  padding-bottom: 25px;
  > div {
    border: 2px solid transparent;
  }
  label {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #EAF0ED;
    padding-bottom: 5px;
  }
  input + span, input + i + span {
    display: none;
  }
  .message {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #8DA291;
    padding-bottom: 25px;
  }
  &.error {
    padding-bottom: 0;
    > div, > input {
      border: 2px solid #DC3545;
    }
    span {
      display: block;
    }
    input + span, input + i + span {
      color: #DC3545;
    }
    .message {
      color: #8DA291;
      padding-bottom: 5px;
    }
  }
}