@import '../../../assets/css/variable';
@import '../../../assets/css/mixin';

.input_number {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #EAF0ED;
  > input {
    width: 80%;
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: #3F5D45;
    background-color: #EAF0ED;
    padding: 18px 10px;
    &:focus-visible {
      outline: none;
    }
  }
  span {
    padding-right: 20px;
  }
  i {
    padding-left: 10px;
    padding-right: 20px;
    color: #3F5D45;
  }
}