@import '../../../assets/css/variable';
@import '../../../assets/css/mixin';

.tab_container {
  display: flex;
  align-items: center;
  li {
    button {
      font-weight: 700;
      font-size: 20px;
      color: #EAF0ED;
      padding: 14px;
      border: 1px solid #EAF0ED;
      background-color: #3F5D45;
      cursor: pointer;
    }
    &.active {
      button {
        color: #3F5D45;
        background-color: #EAF0ED;
      }
    }
  }
}